# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution and packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environment
venv/
ENV/
env/
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.swp

# Logs
*.log

# Miscellaneous
*.tmp
*.bak
*.orig

# Docker files
Dockerfile
docker-compose.yml
*.dockerignore

# Coverage reports
.coverage
*.cover
*.py,cover
nosetests.xml
coverage.xml
*.coveragerc